.logo {
    height: '100px';
    width: 'auto';
  }

  .hover-logo {
    /* the color  */
    --c: #e5322d;
    /* the height */
    --h: 1.2em;

    line-height: var(--h) !important;  
    color: #0000 !important;
    overflow: hidden !important;
     text-shadow: 
      0 calc(-1 * var(--h) * var(--_i, 0)) var(--c), 
      0 calc(var(--h) * (1 - var(--_i, -1))) #fff !important;
    background: 
      linear-gradient(var(--c) 0 0) no-repeat
      calc(200% - var(--_i, 0) * 100%) 100% / 200% calc(100% * var(--_i, 0) + .08em) !important;
    transition: .3s calc(var(--_i, 0) * .3s), background-position .3s calc(.3s - calc(var(--_i, 0) * .3s)) !important;
  }

  .hover-logo:hover {
    --_i: 1;
  }