:root {
  --primary: #e5322d;
  --secondary: #f5f5fa;
  --black: #393c47;
  --grey: #393c47;
  --white: #ffffff;
  --shadow: #cfcfd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}


/* 

@media (min-width:600px): {
  height: '100px',
  width: 'auto'
}
[theme.breakpoints.up('md')]: {
  height: '50px',
  width: 'auto'
} */

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
}