:root {
  --primary: #e5322d;
  --secondary: #f5f5fa;
  --black: #393c47;
  --grey: #393c47;
  --white: #ffffff;
  --shadow: #cfcfd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}